<h2 class="text-base/7 font-semibold text-highlight-yellow">Less Email, More Productivity</h2>
<p class="mt-2 text-pretty text-3xl font-semibold tracking-tight text-white sm:text-balance sm:text-5xl">Jace users save hours every week—read their stories</p>
</div>
<div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm/6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
<figure class="col-span-2 hidden sm:block sm:rounded-2xl sm:bg-white sm:shadow-lg sm:ring-1 sm:ring-gray-900/5 xl:col-start-2 xl:row-end-1">
<blockquote class="p-12 text-xl/8 font-semibold tracking-tight text-gray-900">
<p>“Jace has entirely reshaped the way I approach email. It saves me over an hour a day - and the feature list keeps growing. It seamlessly integrates with my Google Workspace Gmail account. Additionally, I use Superwhisper to chat with the email agent, so I rarely have to touch my keyboard.”</p>
</blockquote>
<figcaption class="flex items-center gap-x-4 border-t border-gray-900/10 px-6 py-4">
<img alt="" src="reviews/josh-graham.jpg" class="size-10 flex-none rounded-full bg-gray-50"/>
<div class="flex-auto">
<div class="font-semibold flex items-center gap-x-1">Josh Graham</div>
<div class="text-gray-600">Founder @ instantvoiceover.ai</div>
</div>
<img alt="" src="reviews/instant-voiceover.svg" class="h-10 w-auto flex-none"/>
</figcaption>
</figure>
<div class="space-y-8 xl:contents xl:space-y-0">
<div class="xl:row-span-2 space-y-8">
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“Been using Jace for 6mo now. Honestly saves me 1h+ every day. Give it a shot if you&#x27;re struggling with emails like me!”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/jenny-xiao.jpg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">Jenny Xiao<svg fill="#1D9BF0" aria-label="Verified account" viewBox="0 0 22 22" class="inline-block flex-grow-0 flex-shrink-0 text-inherit w-icon-xs h-icon-xs size-5">
<path d="M20.396 11a3.49 3.49 0 0 0-2.008-3.062 3.47 3.47 0 0 0-.742-3.584 3.474 3.474 0 0 0-3.584-.742A3.47 3.47 0 0 0 11 1.604a3.46 3.46 0 0 0-3.053 2.008 3.47 3.47 0 0 0-1.902-.14c-.635.13-1.22.436-1.69.882a3.461 3.461 0 0 0-.734 3.584A3.49 3.49 0 0 0 1.604 11a3.496 3.496 0 0 0 2.017 3.062 3.471 3.471 0 0 0 .733 3.584 3.49 3.49 0 0 0 3.584.742A3.49 3.49 0 0 0 11 20.396a3.48 3.48 0 0 0 3.062-2.007 3.335 3.335 0 0 0 4.326-4.327A3.49 3.49 0 0 0 20.396 11M9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
</path>
</svg>
</div>
<div class="text-gray-600">@jennywxiao</div>
</div>
</figcaption>
</figure>
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“Jace is the best AI for email I&#x27;ve used. I&#x27;m impressed by how good the generated replies are. It&#x27;s just like myself. And I hardly ever need to edit them. I&#x27;m saving hours a week on email. Jace is so good that I even included it in my AI basics course to help beginners get started with AI.”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/darius-foroux.jpeg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">Darius Foroux<svg fill="#1D9BF0" aria-label="Verified account" viewBox="0 0 22 22" class="inline-block flex-grow-0 flex-shrink-0 text-inherit w-icon-xs h-icon-xs size-5">
<path d="M20.396 11a3.49 3.49 0 0 0-2.008-3.062 3.47 3.47 0 0 0-.742-3.584 3.474 3.474 0 0 0-3.584-.742A3.47 3.47 0 0 0 11 1.604a3.46 3.46 0 0 0-3.053 2.008 3.47 3.47 0 0 0-1.902-.14c-.635.13-1.22.436-1.69.882a3.461 3.461 0 0 0-.734 3.584A3.49 3.49 0 0 0 1.604 11a3.496 3.496 0 0 0 2.017 3.062 3.471 3.471 0 0 0 .733 3.584 3.49 3.49 0 0 0 3.584.742A3.49 3.49 0 0 0 11 20.396a3.48 3.48 0 0 0 3.062-2.007 3.335 3.335 0 0 0 4.326-4.327A3.49 3.49 0 0 0 20.396 11M9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
</path>
</svg>
</div>
<div class="text-gray-600">@DariusForoux</div>
</div>
</figcaption>
</figure>
</div>
<div class="xl:row-start-1 space-y-8">
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“Now we are talking. Thats something I really want. Amazing usecase for AI.”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/chubby.jpg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">Chubby<svg fill="#1D9BF0" aria-label="Verified account" viewBox="0 0 22 22" class="inline-block flex-grow-0 flex-shrink-0 text-inherit w-icon-xs h-icon-xs size-5">
<path d="M20.396 11a3.49 3.49 0 0 0-2.008-3.062 3.47 3.47 0 0 0-.742-3.584 3.474 3.474 0 0 0-3.584-.742A3.47 3.47 0 0 0 11 1.604a3.46 3.46 0 0 0-3.053 2.008 3.47 3.47 0 0 0-1.902-.14c-.635.13-1.22.436-1.69.882a3.461 3.461 0 0 0-.734 3.584A3.49 3.49 0 0 0 1.604 11a3.496 3.496 0 0 0 2.017 3.062 3.471 3.471 0 0 0 .733 3.584 3.49 3.49 0 0 0 3.584.742A3.49 3.49 0 0 0 11 20.396a3.48 3.48 0 0 0 3.062-2.007 3.335 3.335 0 0 0 4.326-4.327A3.49 3.49 0 0 0 20.396 11M9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
</path>
</svg>
</div>
<div class="text-gray-600">@kimmonismus</div>
</div>
</figcaption>
</figure>
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“Impressive!”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/philippe-tremblay.jpg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">Philippe Tremblay<svg fill="#1D9BF0" aria-label="Verified account" viewBox="0 0 22 22" class="inline-block flex-grow-0 flex-shrink-0 text-inherit w-icon-xs h-icon-xs size-5">
<path d="M20.396 11a3.49 3.49 0 0 0-2.008-3.062 3.47 3.47 0 0 0-.742-3.584 3.474 3.474 0 0 0-3.584-.742A3.47 3.47 0 0 0 11 1.604a3.46 3.46 0 0 0-3.053 2.008 3.47 3.47 0 0 0-1.902-.14c-.635.13-1.22.436-1.69.882a3.461 3.461 0 0 0-.734 3.584A3.49 3.49 0 0 0 1.604 11a3.496 3.496 0 0 0 2.017 3.062 3.471 3.471 0 0 0 .733 3.584 3.49 3.49 0 0 0 3.584.742A3.49 3.49 0 0 0 11 20.396a3.48 3.48 0 0 0 3.062-2.007 3.335 3.335 0 0 0 4.326-4.327A3.49 3.49 0 0 0 20.396 11M9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
</path>
</svg>
</div>
<div class="text-gray-600">@philtrem22</div>
</div>
</figcaption>
</figure>
</div>
</div>
<div class="space-y-8 xl:contents xl:space-y-0">
<div class="xl:row-start-1 space-y-8">
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“testing the most beautiful new email ai agent i’ve seen yet”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/swyx.jpg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">swyx<svg fill="#1D9BF0" aria-label="Verified account" viewBox="0 0 22 22" class="inline-block flex-grow-0 flex-shrink-0 text-inherit w-icon-xs h-icon-xs size-5">
<path d="M20.396 11a3.49 3.49 0 0 0-2.008-3.062 3.47 3.47 0 0 0-.742-3.584 3.474 3.474 0 0 0-3.584-.742A3.47 3.47 0 0 0 11 1.604a3.46 3.46 0 0 0-3.053 2.008 3.47 3.47 0 0 0-1.902-.14c-.635.13-1.22.436-1.69.882a3.461 3.461 0 0 0-.734 3.584A3.49 3.49 0 0 0 1.604 11a3.496 3.496 0 0 0 2.017 3.062 3.471 3.471 0 0 0 .733 3.584 3.49 3.49 0 0 0 3.584.742A3.49 3.49 0 0 0 11 20.396a3.48 3.48 0 0 0 3.062-2.007 3.335 3.335 0 0 0 4.326-4.327A3.49 3.49 0 0 0 20.396 11M9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
</path>
</svg>
</div>
<div class="text-gray-600">@swyx</div>
</div>
</figcaption>
</figure>
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“wow, yes — Jace from @ZetaLabsAI is exactly what I&#x27;ve been looking in an email helper”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/andel-husbands.jpg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">Andel Husbands</div>
<div class="text-gray-600">@AndelHusbands</div>
</div>
</figcaption>
</figure>
</div>
<div class="xl:row-span-2 space-y-8">
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“This @ZetaLabsAI Jace AI agent looks great-just what we desperately need!”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/derya-unutmaz.jpg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">Derya Unutmaz<svg fill="#1D9BF0" aria-label="Verified account" viewBox="0 0 22 22" class="inline-block flex-grow-0 flex-shrink-0 text-inherit w-icon-xs h-icon-xs size-5">
<path d="M20.396 11a3.49 3.49 0 0 0-2.008-3.062 3.47 3.47 0 0 0-.742-3.584 3.474 3.474 0 0 0-3.584-.742A3.47 3.47 0 0 0 11 1.604a3.46 3.46 0 0 0-3.053 2.008 3.47 3.47 0 0 0-1.902-.14c-.635.13-1.22.436-1.69.882a3.461 3.461 0 0 0-.734 3.584A3.49 3.49 0 0 0 1.604 11a3.496 3.496 0 0 0 2.017 3.062 3.471 3.471 0 0 0 .733 3.584 3.49 3.49 0 0 0 3.584.742A3.49 3.49 0 0 0 11 20.396a3.48 3.48 0 0 0 3.062-2.007 3.335 3.335 0 0 0 4.326-4.327A3.49 3.49 0 0 0 20.396 11M9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
</path>
</svg>
</div>
<div class="text-gray-600">@DeryaTR_</div>
</div>
</figcaption>
</figure>
<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
<blockquote class="text-gray-900">
<p>“E-mail inboxes are precious but extremely cluttered knowledge bases (personal and professional). Jace is helping me streamline retrieving important information and knowledge, in a way that, without Jace, I&#x27;d still be hostage to searching dozens of emails, bad ui, mess, to find something. I thank you for drastically reducing my stress levels.”</p>
</blockquote>
<figcaption class="mt-6 flex items-center gap-x-4">
<img alt="" src="reviews/no-avatar.jpg" class="size-10 rounded-full bg-gray-50"/>
<div>
<div class="font-semibold flex items-center gap-x-1">João Neto</div>
<div class="text-gray-600">Neumatic</div>
</div>
</figcaption>
</figure>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="mx-auto mt-20 max-w-7xl sm:mt-32 sm:px-6 lg:px-8">
<div class="relative isolate overflow-hidden px-6 py-20 shadow-2xl sm:rounded-3xl sm:px-24 xl:py-24" style="background:var(--jace-gradient)">