<h2 class="mx-auto max-w-xl text-center text-4xl font-semibold tracking-tight text-black sm:text-5xl">Start saving 90% of your email time now.</h2>
<p class="mx-auto mt-6 max-w-lg text-center text-xl text-black">Let Jace do the boring stuff.</p>
<div class="mt-10 flex justify-center">
<button class="inline-flex items-center justify-center gap-2 border border-[rgba(255,255,255,0.02)] whitespace-nowrap font-medium focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 disabled:cursor-not-allowed [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 transition-all duration-200 active:scale-[.99] bg-button-bg-base text-button-text-base shadow hover:opacity-80 h-10 rounded-lg text-md px-2 sm:px-6 cursor-pointer">Get Started for Free</button>
</div>
<svg viewBox="0 0 1024 1024" aria-hidden="true" class="absolute left-1/2 top-1/2 -z-10 size-[64rem] -translate-x-1/2">
<circle r="512" cx="512" cy="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7">
</circle>
<defs>
<radialGradient r="1" cx="0" cy="0" id="759c1415-0410-454c-8f7c-9a820de03641" gradientUnits="userSpaceOnUse" gradientTransform="translate(512 512) rotate(90) scale(512)">
<stop stop-color="var(--surface-highlight-a)">
</stop>
<stop offset="1" stop-color="var(--surface-highlight-b)" stop-opacity="0">
</stop>
</radialGradient>
</defs>
</svg>
</div>
</div>
</main>
<div class="bg-page-bg">
<div class="mx-auto max-w-7xl px-6 pt-24 lg:px-8 lg:pt-32">
<div class="mx-auto max-w-4xl">