---
// Companies section component
---

<section class="py-16" style="background-color: rgb(40, 40, 40);" data-test="companies">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <p class="text-lg text-text-muted mb-8">
        Trusted by professionals at leading companies
      </p>
    </div>
    
    <div class="mx-auto grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-3 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <div class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 company-logos-opacity" style="opacity: 0.8;" data-test="company-logo">
        <div class="h-8 bg-gray-600 rounded"></div>
      </div>
      <div class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 company-logos-opacity" style="opacity: 0.8;" data-test="company-logo">
        <div class="h-8 bg-gray-600 rounded"></div>
      </div>
      <div class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 company-logos-opacity" style="opacity: 0.8;" data-test="company-logo">
        <div class="h-8 bg-gray-600 rounded"></div>
      </div>
      <div class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 company-logos-opacity" style="opacity: 0.8;" data-test="company-logo">
        <div class="h-8 bg-gray-600 rounded"></div>
      </div>
      <div class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 company-logos-opacity" style="opacity: 0.8;" data-test="company-logo">
        <div class="h-8 bg-gray-600 rounded"></div>
      </div>
    </div>
  </div>
</section>