---
/**
 * Logo - Displays the ralph logo with emphasized LP (Limited Partner)
 * 
 * @example
 * <Logo class="text-2xl" />
 */

export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<span class={className}>
  ra<span style="text-decoration: underline; text-decoration-color: #FFDC61; text-decoration-thickness: 3px; text-underline-offset: 4px;">lp</span>h
</span>